# Derleme ve geçici dosyalar
/build/
*.o
*.so
*.a
*.out
*.exe
*.log
*.cache

# Çalıştırılabilir dosyalar
stellar-core
stellar-core.db

# SSH veya API anahtarlarını içeren dosyalar (ÖNEMLİ!)
.env
config.json
stellar-core.cfg
